# Datatypes and Data structures

This section introduces data structures in the form of tuples and dictionaries.

### STRING


```python
>> print("Hello! It's me MARIOOO")
```

In [66]:
print("Hello! It's me MARIOOO")

Hello! It's me MARIOOO

How to check lenght of your string:

In [69]:
mario = 'MARIOOO'
len(mario)

7

Get the first letter of your string

In [70]:
mario[0]

'M'

How to modify the displayed content

In [71]:
f"Best name is {mario}"

'Best name is MARIOOO'

In [72]:
"{} is the best".format(mario)

'MARIOOO is the best'

### String Indexing

Strings work like an array for accessing individual characters. You use an integer index, starting at 0.
Negative indices specify a position relative to the end of the string.

```python
a = 'Hello world'
b = a[0]          # 'H'
c = a[4]          # 'o'
d = a[-1]         # 'd' (end of string)
```

You can also slice or select substrings specifying a range of indices with `:`.

```python
d = a[:5]     # 'Hello'
e = a[6:]     # 'world'
f = a[3:8]    # 'lo wo'
g = a[-5:]    # 'world'
```

The character at the ending index is not included.  Missing indices assume the beginning or ending of the string.m

### String operations

Concatenation, length, membership and replication.

```python
# Concatenation (+)
a = 'Hello' + 'World'   # 'HelloWorld'
b = 'Say ' + a          # 'Say HelloWorld'

# Length (len)
s = 'Hello'
len(s)                  # 5

# Membership test (`in`, `not in`)
t = 'e' in s            # True
f = 'x' in s            # False
g = 'hi' not in s       # True

# Replication (s * n)
rep = s * 5             # 'HelloHelloHelloHelloHello'
```

### String methods

Strings have methods that perform various operations with the string data.

Example: stripping any leading / trailing white space.

```python
s = '  Hello '
t = s.strip()     # 'Hello'
```

Example: Case conversion.

```python
s = 'Hello'
l = s.lower()     # 'hello'
u = s.upper()     # 'HELLO'
```

Example: Replacing text.

```python
s = 'Hello world'
t = s.replace('Hello' , 'Hallo')   # 'Hallo world'
```

**More string methods:**

Strings have a wide variety of other methods for testing and manipulating the text data.
This is a small sample of methods:

```python
s.endswith(suffix)     # Check if string ends with suffix
s.find(t)              # First occurrence of t in s
s.index(t)             # First occurrence of t in s
s.isalpha()            # Check if characters are alphabetic
s.isdigit()            # Check if characters are numeric
s.islower()            # Check if characters are lower-case
s.isupper()            # Check if characters are upper-case
s.join(slist)          # Join a list of strings using s as delimiter
s.lower()              # Convert to lower case
s.replace(old,new)     # Replace text
s.rfind(t)             # Search for t from end of string
s.rindex(t)            # Search for t from end of string
s.split([delim])       # Split string into list of substrings
s.startswith(prefix)   # Check if string starts with prefix
s.strip()              # Strip leading/trailing space
s.upper()              # Convert to upper case
```

### Exercise
Create your own string that will describe you. Where your information will be variables of python.

In [73]:
# TODO

Check length of your string:

In [74]:
# TODO

### Types of Numbers

Python has 4 types of numbers:

* Booleans
* Integers
* Floating point
* Complex (imaginary numbers)

### Booleans (bool)

Booleans have two values: `True`, `False`.

In [1]:
a = True
b = False

Numerically, they're evaluated as integers with value `1`, `0`.

In [1]:
c = 4 + True 
d = False
if d == 0:
    print('d is False')

d is False
5

**But, don't write code like that. It would be odd.**

### Exercise
Convert int value to boolean type:

In [ ]:
# TODO

### Integers (int)
Signed values of arbitrary size and base:

In [3]:
a = 37
b = -299392993727716627377128481812241231
c = 0x7fa8      # Hexadecimal
d = 0o253       # Octal
e = 0b10001111  # Binary

Common operations:

```
x + y      Add
x - y      Subtract
x * y      Multiply
x / y      Divide (produces a float)
x // y     Floor Divide (produces an integer)
x % y      Modulo (remainder)
x ** y     Power
x << n     Bit shift left
x >> n     Bit shift right
x & y      Bit-wise AND
x | y      Bit-wise OR
x ^ y      Bit-wise XOR
abs(x)     Absolute value
```

### Exercise
Calculate value of delta with b = 10, a = 2, c = 5:
![title](images/delta.png)

In [ ]:
delta = ... # TODO
assert delta == 60

Devide two any odd numbers and round to int value

In [67]:
# TODO

### Floating point (float)

Use a decimal or exponential notation to specify a floating point value:

```python
a = 37.45
b = 4e5 # 4 x 10**5 or 400,000
c = -1.345e-10
```

Floats are represented as double precision using the native CPU representation [IEEE 754](https://en.wikipedia.org/wiki/IEEE_754).
This is the same as the `double` type in the programming language C.
> 17 digits of precision  
> Exponent from -308 to 308

Be aware that floating point numbers are inexact when representing decimals.
```python
>>> a = 2.1 + 4.2
>>> a == 6.3
False
>>> a
6.300000000000001
>>>
```

This is **not a Python issue**, but the underlying floating point hardware on the CPU.

Common Operations:

```
x + y      Add
x - y      Subtract
x * y      Multiply
x / y      Divide
x // y     Floor Divide
x % y      Modulo
x ** y     Power
abs(x)     Absolute Value
```

These are the same operators as Integers, except for the bit-wise operators.
Additional math functions are found in the `math` module.

In [6]:
import math
x = 60
a = math.sqrt(x)
b = math.sin(x)
c = math.cos(x)
d = math.tan(x)
e = math.log(x)

### Exercise
Calculate value of x_1 with b = 10, a = 2, delta = 16:

In [8]:
# TODO

Round the value og x_1 to two decimal places

In [11]:
# TODO

### Comparisons

The following comparison / relational operators work with numbers:
```
x < y      Less than
x <= y     Less than or equal
x > y      Greater than
x >= y     Greater than or equal
x == y     Equal to
x != y     Not equal to
```

You can form more complex boolean expressions using

`and`, `or`, `not`

Here are a few examples:

```python
if b >= a and b <= c:
    print('b is between a and c')

if not (b < a or b > c):
    print('b is still between a and c')
```

### Exercise
Write if statment where will check if number is between 4 and 7 and is not equal to 5

In [12]:
# TODO

Write if statment where will check if number is between -5 and 5 or is equal to 100

In [14]:
# TODO

Write if statment where will check if number is equal 10 and not 8,9,11,12

In [14]:
# TODO

Write if statment where will check if number is between 0 and 10 and is even number

In [16]:
# TODO

Write if statment where will check if number is biger than -10 and is odd number

In [17]:
# TODO

### Converting Numbers

The type name can be used to convert values:

In [7]:
a = int(x)    # Convert x to integer
b = float(x)  # Convert x to float

Try it out.

```python
>>> a = 3.14159
>>> int(a)
3
>>> b = '3.14159' # It also works with strings containing numbers
>>> float(b)
3.14159
>>>
```

### None type

In [9]:
email_address = None

`None` is often used as a placeholder for optional or missing value.  It
evaluates as `False` in conditionals.

```python
if email_address:
    send_email(email_address, msg)
```

### Data Structures
Real programs have more complex data. For example information about a stock holding:
```code
100 shares of GOOG at $490.10
```
This is an "object" with three parts:

* Name or symbol of the stock ("GOOG", a string)
* Number of shares (100, an integer)
* Price (490.10 a float)

### Tuples

A tuple is a collection of values grouped together.

Example:

In [12]:
s = ('GOOG', 100, 490.1)
s

('GOOG', 100, 490.1)

Sometimes the `()` are omitted in the syntax.

In [14]:
s = 'GOOG', 100, 490.1
s

('GOOG', 100, 490.1)

Special cases (0-tuple, 1-tuple).

In [15]:
t = ()            # An empty tuple
w = ('GOOG', )    # A 1-item tuple

Tuples are often used to represent *simple* records or structures.
Typically, it is a single *object* of multiple parts. A good analogy: *A tuple is like a single row in a database table.*

Tuple contents are ordered (like an array).

In [16]:
name = s[0]                 # 'GOOG'
shares = s[1]               # 100
price = s[2]                # 490.1

However, the contents can't be modified.

```python
>>> s[1] = 75
TypeError: object does not support item assignment
```

You can, however, make a new tuple based on a current tuple.

In [19]:
s = (s[0], 75, s[2])
s

('GOOG', 75, 490.1)

### Tuple Packing

Tuples are more about packing related items together into a single *entity*.

In [20]:
s = ('GOOG', 100, 490.1)
s

('GOOG', 100, 490.1)

The tuple is then easy to pass around to other parts of a program as a single object.


### Tuple Unpacking

To use the tuple elsewhere, you can unpack its parts into variables.

In [21]:
name, shares, price = s
print('Cost', shares * price)

Cost 49010.0

The number of variables on the left must match the tuple structure.
```python
name, shares = s     # ERROR
Traceback (most recent call last):
...
ValueError: too many values to unpack
```

### Exercise
Create your own tuple with information about yourself (name,surname,age,color of eyes, weight, height) and assign it to a variable.

In [18]:
# TODO

Calculate length of your tuple:

In [ ]:
# TODO

Extract your name from your tuple and also assign it to a new variable

In [19]:
# TODO

Calculate your BMI taking values from your tuple. BMI = weight (kg) / height ** 2 (m)

In [20]:
# TODO

### Tuples vs. Lists

Tuples look like read-only lists. However, tuples are most often used
for a *single item* consisting of multiple parts.  Lists are usually a
collection of distinct items, usually all of the same type.

In [22]:
record = ('GOOG', 100, 490.1)       # A tuple representing a record in a portfolio

symbols = [ 'GOOG', 'AAPL', 'IBM' ]  # A List representing three stock symbols

### Lists
Add values to list:

In [29]:
temp_list = [1 ,2 ,3, 4, 5]
print(temp_list)
temp_list.append(2222)
print(temp_list)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 2222]

In [30]:
temp_list.insert(2,10000)
temp_list

[1, 2, 10000, 3, 4, 5, 2222]

### List slicing
In Python, list slicing is a common practice and it is the most used technique for programmers to solve efficient problems. Consider a python list, In-order to access a range of elements in a list, you need to slice a list. One way to do this is to use the simple slicing operator i.e. colon(:)

```
Lst[ Initial : End : IndexJump ]
```

In [32]:
temp_list[:2]

[1, 2]

In [33]:
temp_list[2:]

[10000, 3, 4, 5, 2222]

In [35]:
temp_list[2:5]

[10000, 3, 4]

In [39]:
temp_list[::-1]

[2222, 5, 4, 3, 10000, 2, 1]

### Operations on lists 
**SUM**

In [41]:
sum(temp_list)

12237

**MIN/MAX**

In [42]:
min(temp_list)

1

In [43]:
max(temp_list)

10000

**ALL/ANY**

In [44]:
all(temp_list)

True

In [46]:
temp_list[2] = 0
all(temp_list)

False

In [47]:
any(temp_list)

True

Membership test (`in`, `not in`).

```python
'Elwood' in names       # True
'Britney' not in names  # True
```

### Exercise
Convert your tuple with your infromation to list, and print waht is the type of your variable

In [48]:
# TODO

Add new information to your list (day, month, year) of your birthday, and calculated before value of your BMI

In [49]:
# TODO

Check len,max,min of your list

In [52]:
# TODO

I hope you've had this error:
```python

Traceback (most recent call last):
TypeError: '<' not supported between instances of 'int' and 'str'

```
If yes split your information to two lists, where one list will contains only string values, and the second one will return only numeric values

In [ ]:
# TODO

Now len,max,min of your lists

In [56]:
# TODO

Sort lists with ascending order.

In [56]:
# TODO

In this exercise, we experiment with Python's list datatype. In the last section,
you worked with strings containing stock symbols.

```python
>>> symbols = 'HPQ,AAPL,IBM,MSFT,YHOO,DOA,GOOG'
```

Split it into a list of names using the `split()` operation of strings:

In [2]:
#TODO

Looping over list items

The `for` loop works by looping over data in a sequence such as a list.
Check this out by typing the following loop and watching what happens:

```python
>>> for s in your_list:
        print('s =', s)
# Look at the output
```

In [ ]:
# TODO

Membership tests

Use the `in` or `not in` operator to check if `'AIG'`,`'AA'`, and `'CAT'` are in the list of symbols.

In [4]:
symbols = 'HPQ,AAPL,IBM,MSFT,YHOO,DOA,GOOG'
#TODO

### Dictionaries

A dictionary is mapping of keys to values.  It's also sometimes called a hash table or
associative array.  The keys serve as indices for accessing values.

In [3]:
s = {
    'name': 'GOOG',
    'shares': 100,
    'price': 490.1
}

### Common operations

To get values from a dictionary use the key names.

```python
>>> print(s['name'], s['shares'])
GOOG 100
>>> s['price']
490.10
>>>
```

To add or modify values assign using the key names.

```python
>>> s['shares'] = 75
>>> s['date'] = '6/6/2007'
>>>
```

To delete a value use the `del` statement.

```python
>>> del s['date']
>>>
```

### Why dictionaries?

Dictionaries are useful when there are *many* different values and those values
might be modified or manipulated.  Dictionaries make your code more readable.

In [26]:
s['price']
# vs
s[2]

KeyError: 2

### Exercise
Create dict with your information:

In [62]:
# TODO

Create dict with similar information about your pet (name,age,weight,type). If you don't have any pet, make up your own.

In [63]:
# TODO

Add your pet dict to your dict with key 'pet'.

In [63]:
# TODO

Print all keys of your dict:

In [ ]:
# TODO

Print all values of your dict:

In [64]:
# TODO